%section#welcome-index-when-where
  .container
    .row
      .col-md-12.text-center
        %h1 When &amp; Where
    .row
      .col-md-6.text-center
        %h2
          = link_to 'wedding.ics' do
            = render partial: 'calendar_svg'
        %p
          %strong 12:30pm – late
          %br/
          = t :wedding_date
          %br/
           
          %br/
        %p= link_to 'Add to Calendar', 'wedding.ics'
      .col-md-6.text-center
        %h2
          = link_to @google_maps_url do
            = render partial: 'map_marker_svg'
        %p
          = render partial: 'wedding_address'
        %p
          = link_to 'Google Maps', @google_maps_url
