%h1.display-4 You have a customer waiting! 

%p.lead Hey #{@vendor.first_name},

%p.lead You have a customer interested in one of your products: 
.card.mb-4.card-bordering{style: 'width: 30rem;'}
  - if @product.image.attached?
    = image_tag @product.image, style: 'width: 30rem;'
  .card-body
    %h5.card-title
      = @product.name
      |
      = @product.size
%br
%p.lead 
  feel free to reach out to them by
  = mail_to @customer_email 