.col-12
  .card.mb-4.card-bordering
    .row 
      .col-3
        - if product.image.attached?
          = image_tag product.image, style: 'width: 100%;'
      .col-9
        .card-body
          %h5.card-title= product.name
          %hr
          %p.card-text= product&.description
          - if product.size
            %p.card-text Size: #{product.size}
          - if product.cost 
            %p.card-text Cost: #{product.cost}
          %a.btn.btn-primary.sale-btn{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"} Email Vendor 
          #collapseExample.collapse
            %hr
            .card.card-body
              = simple_form_for vendor_product_inquiry_path(product.vendor), method: :get do |f| 
                = f.input :email
                = f.input :message
                = f.hidden_field :product_id, value: product.id 
                = f.submit 'Send Email', class: 'btn btn-primary sale-btn'
              
