.col-12
  .card.mb-4.card-bordering
    .row 
      - if product.image.attached?
        .col-3
          = image_tag product.image, style: 'width: 100%;'
      .col-9
        .card-body
          %h5.card-title= product.name
          %hr
          %p.card-text= product&.description
          - if product.size
            %p.card-text Size: #{product.size}
          - if product.cost 
            %p.card-text Cost: #{number_to_currency(product.cost)}
          -# %a.btn.btn-primary.sale-btn{"aria-controls" => "email-form", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#email-form", :role => "button"} Email Vendor 
          -# #email-form.collapse
            -# %hr
            -# .card.card-body
              -# = simple_form_for vendor_product_inquiry_path(product.vendor.id), method: :post do |f| 
                -# .row 
                -#   .col-6
                -#     = f.input :email, placeholder: 'Your email...'
                -#   .col-6
                -#     = f.input :phone_number, placeholder: 'Your phone number...'
                -# = f.input :message, as: :text, placeholder: 'Add a personal message with your email'
                -# = f.hidden_field :product_id, value: product.id 
                -# = f.submit 'Send Email', class: 'btn btn-primary sale-btn'
              
