.col-6.col-md-4
  .product
    - if product.image.attached?
      = image_tag product.image, class: 'product-image'
    - else 
      = image_tag product.vendor.avatar, class: 'product-image'
    %h5= product.product_to_human
    %p= product&.description
    - if by_product_type
      = link_to vendor.display_name, vendor_products_path(vendor), class: 'badge badge-primary sale-bdg text-wrap'
    - else 
      = link_to product.product_type.name, product_type_path(product.product_type), class: 'badge badge-primary sale-bdg text-wrap'