.col-12.col-sm-6
  .card.mb-4.card-bordering
    .row 
      - if product.image.attached?
        .col-6
          = image_tag product.image, style: 'width: 100%;'
        .col-6
          .card-body
            %h5.card-title= product.product_to_human
            %hr
            %p.card-text= product&.description
      - else 
        .card-body
          %h5.card-title= product.product_to_human
          %hr
          %p.card-text= product&.description
          