%h1
  %strong= @vendor.company_name
%p= @vendor.bio.html_safe
%p
  If you'd like to reserve an item or check the inventory, feel free to 
  = mail_to @vendor.email, 'Email the Sale Coordinator', subject: "[Sidewalk Sale] I'm interested in one of your products!", class: 'btn btn-primary email-and-back-btn'
%hr
%p Among the products below, expect to see: 
%ul
  - @list_products.each do |p|
    %li= p.name 
  %li And more! 

.row 
  - @products.each do |product|
    - if product.size.eql?('wide')
      .col-12 
        = image_tag product.image, class: 'donated-item-image'
    - if product.size.eql?('square')
      .col-6
        = image_tag product.image, class: 'donated-item-image'

.text-center
  = link_to 'Back to Vendors', vendors_path, class: 'btn btn-primary sale-btn'