%h1
  %strong= @vendor.company_name
%p= @vendor.bio.html_safe
%hr 
.row 
  - @products.each do |product|
    - if product.size.eql?('wide')
      .col-12 
        = image_tag product.image, class: 'donated-item-image'
    - if product.size.eql?('square')
      .col-6
        = image_tag product.image, class: 'donated-item-image'
    

.text-center
  = link_to 'Back to Vendors', vendors_path, class: 'btn btn-primary sale-btn'