%h1
  %strong= @vendor.display_name

%p= @vendor&.bio
- if @vendor.website_url.present?
  = link_to "#{@vendor.display_name}'s Site", @vendor.website_url, class: 'badge badge-primary sale-bdg'
- @vendor.links.each do |link|
  = link_to link.site_name, link.site_url, class: 'badge badge-primary sale-bdg'

%hr 
- if @products.empty? 
  %p Uh oh! This vendor doesn't have any products up yet! 
- else 
  .row 
    - @products.each do |product|
      = render partial: 'product_card', locals: { product: product, by_product_type: false }

.text-center
  %p{style: 'padding-top: 2rem;'} 
    Feel free to
    = mail_to @vendor.email, 'Email This Vendor', subject: "[Sidewalk Sale] I'm interested in one of your products!", class: 'btn btn-primary email-and-back-btn'
    or go 
    = link_to 'Back to Vendors', vendors_path, class: 'btn btn-primary email-and-back-btn'