%h1
  %strong= @vendor.display_name

%p= @vendor&.bio
- @vendor.links.each do |link|
  = link_to link.site_name, link.site_url, class: 'badge badge-primary sale-bdg'

%hr 

%h2 Products 
- if @products.empty? 
  %p Uh oh! This vendor doesn't have any products up yet! 
- else 
  %p If you are interested in a product, send the vendor a message below
  .row 
    - @products.each do |product|
      = render partial: 'product_card', locals: { product: product }
      
  %hr
  %h2 Send #{@vendor.display_name} a message.
  = render partial: 'send_message_form'
  .text-center
    = link_to 'Back to Vendors', vendors_path, class: 'btn btn-primary sale-btn'